.FirstPage main {
	display:flex;
    flex-direction: row;
    margin:0;
    width: 100%;
    text-align: center;
    align-items: stretch
    

}
.FirstPage header{
    display:-moz-grid-line;
    width: 100%;
}
 .Advert {
    background-image:url("../../assets/supermarket4.png");
}
