.SingleCard {
	width: 220px;
    height: 220px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-flow: column wrap;

}
.Card{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-flow: column wrap;

}
.image{
    width: 150px;
}
