.MenuAdmin {
	text-align:center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0px;
    justify-content: center;
}

.MenuAdmin > div {
    color:rgb(0, 0, 0);
    font-weight:bolder;
    display:flow-root;
    display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: 25%;
    text-align: center;
    margin-bottom: 0;
}

.nav-link1{
    color:rgb(32, 120, 253);
    font-weight:bolder;
}