.Header {
	text-align:center;
    width: 100%;
}

.Header > div, .Header > button {
    color:rgb(9, 90, 31);
    display: inline;
    display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    /* width: 100%; */
    text-align: center;
    margin-bottom: 0;
}

.add {
    width: 45%;
    border-radius: 15px;
    margin-left: 27.5%;
    padding: 20px;
    background-color: white;
}

.Header label, .Header input {
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
    display:inline;
    width: 30%;
    margin: 0.5%;
}
.Header img{
    margin: 1.5%;
    /* height: ; */

}