.OneItem {
	height: 50px;
    display: inline-block;
    width: 100%;

}

.text-muted{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: none;
    text-align: center;
}

.body{
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.image{
    margin:2px;
}
.total{
    margin:2px;
}
