.Header1 {
	text-align:center;
    width: 100%;
    /* border-top: 2px solid rgb(0, 0, 0);
    border-left: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0); */

}

.Header1 > div, .Header1 > button {
    color:rgb(32, 120, 253);
    font-weight: 900;
    font-size:large;
    display: inline;
    display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    /* width: 100%; */
    text-align: center;
    margin-bottom: 0;
}

.Header1 img{
    width: 70px;
    border-radius: 40px;
}

.add {
    width: 45%;
    border-radius: 0px;
    margin-left: 27.5%;
    padding: 20px;
    background-color: white;
}

.Header1 label, .Header1 input {
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
    display:inline;
    width: 30%;
    margin: 0.5%;
}
