.Login {
	text-align: left;
    
}
.login{
    width:450PX;
    height: 750px;
    border: 2px solid rgb(0,0,0);
    border-radius: 0;
    margin-left: 0%;
    padding:80px;
}
.Login label,.Login input{
    font-size: 15px;
    /* margin: 10px; */
}
.head{
    font-weight: 900;
    /* margin-bottom: 30px; */
}

.Login > button {
    color:gold;
    display: inline;
    display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    /* width: 100%; */
    text-align: center;

}

.Login p{
    font-size: 13px;
}

.Login span {
color:rgb(0, 0, 0)
}