.ViewCart1 {
	border: 1px;
    border-color: black;
    width: 100%;
    font-size: small;

}
.ViewCart{
	
    width: 100%;
    font-size: small;

}

/* .ViewCart{
width: auto;
} */
/* .Paper{
    width: 100%;
} */
.item{
    width: 70%;
    height: 100%;
    border:1px;
    border-color: black;

}

.title {
    margin: 10px;
    width: 70%;

}


